---
import { SITE } from 'astrowind:config';
---

<!--<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  🚀 {SITE?.name}
</span> -->

<div class="flex items-center">
  <!-- Logo light mode -->
  <img 
    src="/logo-light.png" 
    alt={SITE?.name} 
    class="h-8 w-auto mr-2 dark:hidden"
  />

  <!-- Logo dark mode -->
  <img 
    src="/logo-dark.png" 
    alt={SITE?.name} 
    class="h-8 w-auto mr-2 hidden dark:block"
  />

</div>
